// Style for button and pseudo button for input and link

button {
	font-size: $main_font_size;

	&[class*="icon_"] {
		background-color: inherit;
		border: inherit;
		cursor: pointer;
		// background-color: transparent;
	}
}

.btn {
	color: #fff;
	font-family: $main_font_family;
	font-size: 1.5em;
	font-weight: 400;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: transparent;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s;
	text-decoration: none;

	.icon_next {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: -.1em;
		margin-left: 1em;
		width: 1.6em;
		height: 1.6em;
		border-radius: 50%;
		border: 0.05em solid;
		vertical-align: middle;
	}

	&:hover {
		color: #807870;

		.icon_next {
			background-color: #807870;
		}
	}

	&_more {
		color: #807870;
		border: 0.06em solid #807870;
		padding: 0.3em 1em;
		border-radius: 3em;
		font-size: 1.1em;

		&:hover {
			background-color: #807870;
			color: #fff;
		}
	}

	// &:hover {
	// 	background-color: #fff;
	// 	color: #000;
	// 	text-decoration: none;
	// }
	//
	// &:active,
	// &:focus {
	// 	background-color: transparentize(#fff, .2);
	// 	color: #000;
	// }
	// @each $status_el, $color_bg in $el_colors {
	// 	&_#{$status_el} {
	// 		background-color: $color_bg;
	// 		border-color: $color_bg;
	// 		color: $btn_contrast_text_color;
	//
	// 		&:hover {
	// 			background-color: darken($color_bg, 7%);
	// 			color: $btn_contrast_text_color;
	// 		}
	//
	// 		&:active,
	// 		&:focus {
	// 			background-color: darken($color_bg, 10%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 	}
	// }
}
