extends template.pug
block variables
    -var project = true;
    -var bodyClass = 'project__page';

block content
    // begin projects
    a.projects__back(href="index.html#jobs") Назад к портфолио
    section#projects1.projects.section
        .projects__item
            .projects__descr
                h2.projects__title Alexander & Anastasia / Montenegro
                .projects__city Черногория
                .projects__text.scrolled
                    p Он - диджей, она - видеограф. Никто и не рассчитывал на стандартный свадебный клип. Как выяснилось, центр Москвы - отличный выбор для свадебной прогулки. 

                    p Если хотите что-то подобное - нужно снять необычное жильё свадебной индустрии России. 
                    p Мы нашли себя и совершенствуем свой почерк, делимся знаниями и помогаем находить собственный стиль коллегам.
                    p Амбассадоры Panasonic Russia, члены судейства и спикеры множества фестивалей по видеографии.

                .projects__thumbs
                    a.projects__photo(href="img/project-bg.jpg" data-fancybox="gallery2")
                        img(src="img/project-1.jpg", alt="")
                    a.projects__photo(href="img/project-2.jpg" data-fancybox="gallery2")
                        img(src="img/project-2.jpg", alt="")
                    a.projects__photo(href="img/project-3.jpg" data-fancybox="gallery2")
                        img(src="img/project-3.jpg", alt="")
                    a.projects__photo(href="img/project-4.jpg" data-fancybox="gallery2")
                        img(src="img/project-4.jpg", alt="")
                    a.projects__photo(href="img/project-4.jpg" data-fancybox="gallery2")
                        img(src="img/project-4.jpg", alt="")
                    a.projects__photo(href="img/project-4.jpg" data-fancybox="gallery2")
                        img(src="img/project-4.jpg", alt="")
                    a.projects__photo(href="img/project-4.jpg" data-fancybox="gallery2")
                        img(src="img/project-4.jpg", alt="")

                .projects__action
                    a.btn.btn_more(data-fancybox-trigger="gallery2" href="javascript:;") Показать все фото
                    //- .projects__prev
                    //-     .icon_prev
                    //- .projects__next
                    //-     .icon_next

            .projects__wrapper
                .projects__video
                    // ID видео
                    .video__wrapper.js_youtube#Bey4XXJAqS8
                        img.video__prev(src="img/project-bg.jpg", alt="Sasha & Anya")
                        .video__play

                .projects__control
                    .voice
                        .voice__icon
                            div
                        .voice__state Вкл

                    .projects__right
                        .projects__about
                            .projects__name Sasha & Anya
                            .projects__next-label следующее видео
                        .projects__next
                            a.icon_next(href="projects2.html")


    // end projects
